
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: 1b1b1b;

}
header {
    background-color: 1b1b1b;
    color: rgb(6, 6, 6);
    padding: 10px 0;
}
h3 {
    padding: 10px;
}
#svgtemp {
    display: block;
    width: 50%;
    height: auto;
    padding-left: 10%;
    padding-top: 25%;
}
div#topnav li {
    display: block;
    margin-left: 70px;
}
.wrap {
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    /* display: inline-block; */
}

#logoQanvaz {
    float: left;

}
/* nav {
    float: right;
}
.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    display: inline-block;
    margin-left: 20px;
}
.topnav li a {
    color: aqua;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}
.topnav li a:hover {
    background-color: aqua; */
}
.content {
    padding: 50px 0;
    text-align: left;
}

/* @font-face {
    font-family: "architekt";
    src: url("../fonts/architekt.woff");
} */
/* @keyframes loading {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 10000000% 0;
    }
}
@keyframes show-content-image {
    0% {
        visibility: hidden;
    }
    99% {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}
@keyframes turn-on-visibility {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */
